

body {
  margin:0;
}

::-webkit-input-placeholder {
  color: #aaa;
  /*font-weight: bold;*/
}
:-moz-placeholder {
  color: #aaa;
  /*font-weight: bold;*/
}
::-moz-placeholder {
  color: #aaa;
  /*font-weight: bold;*/
}
:-ms-input-placeholder {
  color: #aaa;
  /*font-weight: bold;*/
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
}
.container {
  background-color: #fff4f4;
  height: 100%;
  overflow: hidden;
  color: #fff;
}
div.content {
  width: 80%;
  margin: 30% auto;
  text-align: center;
}
.m-b{color: #040404;}
.fill_num {
  width: 100%;
  line-height: 25px;
  padding: 10px;
  background-color: #f5f4f4;
  border: 1px solid #080808;
  color: #502121;
  text-align: center;
  font-size: 22px;
}
a.unsub {
  display: block;
  width: 100%;
  background-color: #1785c5;
  padding: 15px 0;
  font-size: 1.2rem;
}
a.unsub:hover,
a.unsub:focus,
a.unsub:active,
a.unsub.active {
  background-color: #06234e;
  cursor: pointer;
}
p.last {
  font-size: .8rem;
  line-height: 20px;
  color: #124;
}
a.language:before{
  content:"";
  height: 22px;
  width: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  display: inline-block;
  background-image: url(../img/img.png);
  background-position: top left;
  background-repeat: no-repeat;
}
