@font-face {
/*  font-family: 'Oswald'; */
  font-family: 'sans-serif'; 
  font-style: normal;
  font-weight: 400;
}



*{
    margin: 0;
    font-family: sans-serif;
}

html{
    /*height: 100%;*/

}

body{
    background-color: #fff;
    color: #232323;
    overflow: scroll;
    font-size: 12px;
    width: 100%;
}
p {
  margin: 0;
}

/*index */
.header {
	background-color: #fff;
}
.header h4 {
	color: #232323;
  text-align: left;
  margin: 50px 0 20px;
  font-weight: 700;
}

.tableContent {  
  margin: 20px 0 30px; 
}
.tableContent form{
  height: 300px;
  /* overflow: hidden; */
  width: 100%;
  padding: 20px 0 0;
  background-color: #efefef;
}
.tableContent1 form{
  height: 220px;
  /* overflow: hidden; */
  width: 100%;
  padding: 20px 0 0;
  background-color: #efefef;
}
.tableContent2 form{
  height: 220px;
  /* overflow: hidden; */
  width: 100%;
  padding: 20px 0 0;
  background-color: #efefef;
}
.tableContent h5.toptext {
  margin-bottom: 30px;
}
.querybtn button {
  margin-bottom: 20px;
}
.tableContent table {
  background-color: #fff;
  /*width: 100%;  */
}
.btn-search {
  background-color: #408cc8;
  color: #fff;
}
.btn-white {
  background-color: #fff;
}
.btn-search:hover,
.btn-search:active,
.btn-search:focus,
.btn-search.active {
  background-color: #fff;
  color: #408cc8;
}
.btn-white:hover,
.btn-white:active,
.btn-search:focus,
.btn-search.active {
  background-color: #408cc8;
  color: #fff;
}
.totaltext {
  background-color: #d9edf6;
  border: 1px solid #cfe8ea;
  color: #28718b;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 700;
}
.ui-timepicker-div .ui-widget-header { 
  margin-bottom: 8px; 
}  
.ui-timepicker-div dl { 
  text-align: left; 
}  
.ui-timepicker-div dl dt { 
  height: 25px; 
  margin-bottom: -25px; 
}  
.ui-timepicker-div dl dd { 
  margin: 0 10px 10px 65px; 
}  
.ui-timepicker-div td { 
  font-size: 90%; 
}  
.ui-tpicker-grid-label { 
  background: none; 
  border: none; 
  margin: 0; 
  padding: 0; 
} 
.pager {
  text-align: right;
}

#Affiliate form {
  margin-bottom: 10px;
}


.background{
  background-color:#efeded
}

.excel{
  padding-left: 90%;
}

.bootstrap-select{
  padding-left: 15px!important;
}

.container5{
  background-color: #efefef
}



